* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f6f6f6;
}


.side-nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 30px;
}

.side-nav a {
  font-family: "Montserrat", sans-serif;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 18px;
  padding: 0px 10px;
}

h1, h2 {
 font-family: 'Montserrat', sans-serif;
 margin-block-end: 0.3em;
}

.image-container {
  text-align: center;

  img {
    height: calc(100vh - 16px);
  }
}


.masonry {
  columns: 4;
  column-gap: 12px;
  @media (max-width: 1200px) {
    columns: 3;
  }
  @media (max-width: 992px) {
    columns: 2;
  }
  //@media (max-width: 768px) {columns: 1;}
  .grid {
    display: inline-block;
    margin-bottom: 6px;
    position: relative;
    &:before {

      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      background-color:rgba(0,0,0,.2);
    }

    &:hover {
      opacity: 0.6;
    }

    img {
      width: 100%;
    }
    &__title {
      font-size: 28px;
      font-weight:bold;
      margin: 0px 0px 10px 0px;
    }

    &__link {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &__body {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 30px 30px;
      color: #fff;
      display: flex;
      flex-direction: column
    }
    &__tag {
      background-color:rgba(255,255,255,.8);
      color: #333;
      border-radius:5px;
      padding: 5px 15px;
      margin-bottom: 5px;
    }
  }
}
.mt-auto {
  margin-top:auto;
}


.current {
  color:rgb(66, 66, 66) !important;
  font-weight: bold;
}

.page-content {
  padding: 0 60px;
  margin-top: 30px;
}


.item {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 5px;
  color: #428bca;
  background-color: #d9edf7;
  height: fit-content;
  margin: 4px 2px;

  a {
    text-decoration: none !important;
    color: inherit;
  }

  &:hover {
    transform: scale(1.04);
  }
}

.project-description {
  margin-bottom: 20px;
}

.project-container {
  margin-bottom: 50px;
}

// .book-container {
//   // overflow: hidden;
//   background: deepskyblue;
//   height: 625px;
//   width: 883px;
//   margin: 20px auto;
// }

#flipbook {
  margin: 90px auto;
  box-sizing: border-box;
  width: 883px;
  height: 625px;

}

#flipbook .turn-page{
  background-size: cover !important;
}

#flipbook div {
  background-size: cover;
  background-position: center center;
}

.slider-img {
  height: 75vh;
  margin: auto;
}

.carousel {
  width:100%;
  margin-top: 60px;
}
