---
layout: default
---

<div class="container">

  <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">

    <ol class="carousel-indicators">
      {% assign flag = true %}
      {% assign filtered_images = site.data.photographs | where: 'group', page.group %}

      {% for item in filtered_images %}{% if flag == true %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index }}" class="active"></li>

        {% assign flag = false %}
        {% else %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index }}"></li>

      {% endif %}{% endfor %}

    </ol>

    <div class="carousel-inner">
      {% assign flag = true %}
      {% assign filtered_images = site.data.photographs | where: 'group', page.group %}

      {% for item in filtered_images %}{% if flag == true %}
        <div class="carousel-item active">
          <img class="d-block slider-img" src="{{ relative_url}}assets/images/{{ item.file }}.jpg">
        </div>
        {% assign flag = false %}
        {% else %}
        <div class="carousel-item">
          <img class="d-block slider-img" src="{{ relative_url}}assets/images/{{ item.file }}.jpg">
        </div>
      {% endif %}{% endfor %}

    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <div>
        <i class="bi bi-chevron-compact-left" style="font-size: 2rem; color: cornflowerblue;"></i>
      <span class="sr-only">Prev</span>
    </div>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <div>
        <i class="bi bi-chevron-compact-right" style="font-size: 2rem; color: cornflowerblue;"></i>
      <span class="sr-only">Next</span>
    </div>
    </a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>